<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!--Use this to update global styles-->
    <style type="text/css">
        .container {
            max-width: 600px;
            background-color: #185886;
            margin: 0 auto;
            padding: 0 5px;
        }
    </style>

    <!--Place this in the header-->
    <style type="text/css">
        hr {
            background-color: #c8cbcf;
            height: 1px;
            border: 0;
            margin: 5px 0;
        }

        a {
            color: inherit !important;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container">
    <!--Template stuff goes below the line. Paste what's below in a "code module"-->
    <div style="font-family: Trebuchet MS, sans-serif">
        <div style="margin: 0 auto; max-width: 300px; padding: 10px 0">
            <a href="https://store.mineclick.net">
                <img style="width: 100%; height: auto" src="http://mineclick.net/styles/default/custom/logo.png"/>
            </a>
        </div>
        <div style="margin: 0 auto; max-width: 500px">
            <div style="font-weight: bold; text-align: left; font-size: 18px; color: #ffffff; padding: 5px 0">
                Hello {{username}}!
            </div>
            <div style="text-align: left; font-size: 16px; color: #ffffff; padding: 5px 0 15px 0">
                Your MineClick Store order has been processed and the purchased items are now available in the game.
                Please find your order details down below.
            </div>
        </div>
        <div style="margin: 0 auto; max-width: 500px; background-color: #fafafa; border-radius: 2px; padding: 30px 10px; color: #000000">
            <div style="margin: 0 auto; max-width: 460px">
                <div style="text-align: center; font-size: 28px; padding-bottom: 30px">
                    Order Details
                </div>

                <div style="width: 100%; display: inline-block">
                    <div style="float: left; font-size: 14px; line-height: 14px; padding-right: 5px; font-weight: bold">
                        Date:
                    </div>
                    <div style="float: left; font-size: 14px; line-height: 14px">
                        {{date}}
                    </div>
                </div>
                <div style="width: 100%; display: inline-block">
                    <div style="float: left; font-size: 14px; line-height: 14px; padding-right: 5px; font-weight: bold">
                        Order ID:
                    </div>
                    <div style="float: left; font-size: 14px; line-height: 14px">
                        {{orderId}}
                    </div>
                </div>
                <div style="width: 100%; display: inline-block; padding-bottom: 15px">
                    <div style="float: left; font-size: 14px; line-height: 14px; padding-right: 5px; font-weight: bold">
                        Username:
                    </div>
                    <div style="float: left; font-size: 14px; line-height: 14px">
                        {{username}}
                    </div>
                </div>

                <hr>
                {{#each items}}
                <div style="width: 100%; display: inline-block">
                    <div style="float: left; font-size: 14px; line-height: 14px">
                        {{this.description}}
                    </div>
                    {{#equals this.subscription "true"}}
                    <div style="float: left; font-size: 14px; line-height: 14px; color: #165885; padding-left: 10px; font-weight: bold">
                        monthly subscription
                    </div>
                    {{/equals}}
                    <div style="float: right; font-size: 14px; line-height: 14px">
                        {{this.price}}
                    </div>
                </div>
                <hr>
                {{/each}}

                <div style="width: 100%; display: inline-block">
                    <div style="float: left; font-size: 14px; line-height: 14px; font-weight: bold">
                        Total
                    </div>
                    <div style="float: right; font-size: 14px; line-height: 14px; font-weight: bold">
                        {{total}}
                    </div>
                </div>
            </div>
        </div>

        <div style="margin: 0 auto; max-width: 500px; padding: 30px 10px">
            <div style="font-size: 14px; color: white; padding: 3px 0">
                Visit <a style="font-weight: bold" href="https://store.mineclick.net/history">store.mineclick.net/history</a> to view your order history and manage your subscriptions.
            </div>
            <div style="font-size: 12px; color: white; padding: 3px 0">
                Purchased items (including memberships) are available immediately in game.
            </div>
            <div style="font-size: 12px; color: white; padding: 3px 0">
                Do not reply to this email. For any questions or concerns visit our FAQ page at <a
                    href="https://store.mineclick.net/faq">store.mineclick.net/faq</a> or email us at <a
                    href="mailto:info@mineclick.net?subject=Web store support">info@mineclick.net</a>
            </div>
        </div>
    </div>
    <!--Template stuff goes above the line-->
</div>
</body>
</html>